<!DOCTYPE html>
<html>
    <head>
        <title>College Universitario Sant'Efisio</title>
        <link rel="stylesheet" href="{{url_for('aaaaa', path='style.css')}}">
    </head>
    <body>
        <header>
            <h1>Un sito web</h1>
            <p>Benvenuti nel sito web del CUSE</p>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href = "{{ url_for('collegiali_page') }}">Collegiali</a> {# per le funzioni mettiamo il nome funzione #}
            <a href = "{{ url_for('add_collegiale') }}">Aggiungi Collegiale</a>
        </nav>
        <div class = "container">
            {% block content%} 
            {% endblock %}
        </div>
        <footer>
            <p>&copy; 2026 Programmazione Web UNICA</p>
        </footer>
    </body>
</html>