<!DOCTYPE html>
<html>
    <head>
        <title>Titolo</title>
    </head>
    <body>
        <header>
            <h1>Un sito web</h1>
            <p>Benvenuti nel mio sito web!</p>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="https://wikipedia.it">Wikipedia</a>
            <a href = "#"> qualcosa</a>
        </nav>
        <div class = "container">
            {% block content%} 
            {% endblock %}
        </div>
        <footer>
            <p>&copy; 2026 Programmazione Web UNICA</p>
        </footer>
    </body>
</html>